@import '_settings';

body {
	font-family: 'Lato', sans-serif;
	background-color: $body-bg;
	color: $body-bg;

	#index-header {
		height: 100px;
		background-color: $body-bg;

		h1 {
			color: $dark-color;
		}
	}

	@media only screen and (min-width: 426px) {
		.index-header-content {
			padding-top: 15px;
		}
		#index-login-button {
			margin-top: 8px;
		}
	}

	@media only screen and (max-width: 425px) {
		.index-header-content {
			padding-top: 0px;
		}
		#index-login-button {
			margin-top: 23px;
			margin-right: 10px;
		}
		#index-login-button-div {
			padding-right: 0px;
		}
	}

	#index-login-button {
		float: right;
	}

	#index-body-content {
		height: 80%;

		#orbit-content {
			margin-top: 20px;
			padding: 20px;
			background: rgba(0, 0, 0, .8);

			#index-headline {
				font-size: 1.5em;
				font-weight: bold;
			}
		}

		.orbit-container {
			position: absolute;
			top: 100px;
			height: 80%;

			#my-orbit {
				min-height: 100%;
				z-index: -1;

				#slide1 {
					background-image: url("../img/gym1.jpg");
					height: 100%;
				}

				#slide2 {
					background-image: url("../img/gym2.jpg");
					height: 100%;
				}

				#slide3 {
					background-image: url("../img/gym3.jpg");
					height: 100%;
				}
			}
		}
	}

	#index-footer {
		position: fixed;
		bottom: 0px;
		color: $dark-color;
		padding: 10px;
		background-color: $body-bg;
		width: 100%;
		z-index: 1;
	}
}
