add a workout here...

<dl class="accordion" data-accordion>
  <dd class="accordionTab">
    <a href="profile/#logAccordion1">
        <span class="fi-clipboard"></span>
        Log Workout
    </a>
	<div id="logAccordion1" class="content">
      
        <dl class="accordion" data-accordion>
		  <dd class="accordionWorkout">
		    <a href="profile/#workoutAccordion1">
                <i class="fi-plus accordion-state-icon"></i>
                <span>chest workout <small>weight</small></span>
                <i class="right fi-widget size-48"></i>
            </a>
			<div id="workoutAccordion1" class="content">
		      <div class="row">
                <div class="small-5 columns">
                  <div class="row collapse">
                    <div class="small-7 columns">
                      <input type="number" placeholder="0" ng-model="reps" min="1" value="1" />
                    </div>
                    <div class="small-5 columns">
                      <span class="postfix">reps</span>
                    </div>
                  </div>
                </div> 
                <div class="small-5 columns">
                  <div class="row collapse">
                    <div class="small-7 columns">
                      <input type="number" placeholder="0" ng-model="weight" min="0" value="0" />
                    </div>
                    <div class="small-5 columns">
                      <span class="postfix">lbs</span>
                    </div>
                  </div>
                </div>

                <a href="" ng-click="addSet(reps, weight)" class="right"><i class="fi-plus size-24"></i></a>
              </div>

              <table> <!-- ng-controller="EditableRowCtrl" -->
                  <thead>
                    <tr>
                      <th width="150">Set</th>
                      <th width="150">Reps</th>
                      <th width="150">Weight</th>
                      <th width="150">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="set in setItems">
                      <td>{{$index + 1}}</td>
                      <td>
                        <span editable-number="set.reps" e-min="1">{{set.reps}}</span>
                      </td>
                      <td>
                        <span editable-number="set.weight" e-min="0">{{set.weight}}</span>
                      </td>
                      <td "white-space: nowrap">
                        <button class="tiny radius alert" ng-click="removeSet($index)"><i class="fi-trash"></i></button>
                      </td>
                    </tr>                      
                  </tbody>
                </table>
              

		    </div>
		  </dd>
        </dl>

    </div>
  </dd>
  <dd class="accordionTab">
    <a href="profile/#logAccordion2">
        <span class="fi-battery-half"></span>
        Log Intake
    </a>
    <div id="logAccordion2" class="content">
      
    </div>
  </dd>
</dl>

<script type="text/javascript">$(document).foundation();</script>
