<header ng-include src="'partials/_nav.html'"></header>   

<!-- nav tabs -->
<div class="row">
  <dl id="navBarTabs" class="tabs" data-tab>
    <dd class="active">
      <a href="profile/#panel1">
        <i class="fi-torso"></i>
        <span class="tabLabel">
          Overview
        </span>
      </a>
    </dd>
    <dd>
      <a href="profile/#panel2">
        <i class="fi-plus"></i>
        <span class="tabLabel">
          New Log
        </span>
      </a>
    </dd>
    <dd>
      <a href="profile/#panel3">
        <i class="fi-graph-trend"></i>
        <span class="tabLabel">
          View Progress
        </span>
      </a>
    </dd>
    <dd>
      <a href="profile/#panel4">
        <i class="fi-calendar"></i>
        <span class="tabLabel">
          Calendar
        </span>
      </a>
    </dd>
  </dl>

  <!-- Content of the tabs -->
  <div class="tabs-content">
    <div class="content active" id="panel1">
    	<div ng-include src="'partials/_overview.html'"></div>
    </div>
    <div class="content" id="panel2">
    	<div ng-include src="'partials/_add_workout.html'"></div>
    </div>
    <div class="content" id="panel3">
    	<div ng-include src="'partials/_progress.html'"></div>
    </div>
    <div class="content" id="panel4">
    	<div ng-include src="'partials/_calendar.html'"></div>
    </div>
  </div>
</div>

<footer ng-include src="'partials/_footer.html'"></footer>

<script type="text/javascript">$(document).foundation();</script>
