
<!--Progess bar -->

<label>Profile 50% complete</label>

<div class="progress large-100 secondary alert success radius round">
  <span class="meter" style="width: 50%">
</div>

<form data-abide class="custom">
	<!--Information field -->
	<fieldset class='information radius'>
	<legend>information</legend>
	<label>Username</label>

	

	<div class='editable' ng-mouseleave='leave("name_show")' ng-mouseenter='come("name_show")' id='username' ng-hide='username_edit'>

		<a class="button tiny right radius" ng-show="name_show" ng-click='edit("username_edit")'>Edit</a>

		{{username}} 	

	</div>

	<div class='editable' ng-show='username_edit'>

		<a class='button tiny right radius' ng-click='save("username",username)'>Save</a>

		<input name='username' class='input_field' type=text ng-model=username required>

	</div>


	<label>Email</label>

	<div class='editable' ng-mouseleave='leave("email_show")' ng-mouseenter='come("email_show")' id='{{email}}' ng-hide='email_edit'>

		<a class="button tiny right radius" ng-show="email_show" ng-click='edit("email_edit")'>Edit</a>

		{{email}} 	

	</div>

	<div class='editable' ng-show='email_edit'>

		<a class='button tiny right radius' ng-click='save("email",email)'>Save</a>

		<input name='email' class='input_field' type=email ng-model=email required>

	</div>





	<label>Birthday</label>



	<div class='editable' ng-mouseleave='leave("bday_show")' ng-mouseenter='come("bday_show")' id='birthday' ng-hide='dob_edit'>

		<a class="button tiny right radius" ng-show='bday_show' ng-click='edit("dob_edit")'>Edit</a>

		{{dob}} 	

	</div>

	<div class='editable' ng-show='dob_edit'>

		<a class='button tiny right radius' ng-click='save("dob",dob)'>Save</a>

		<input name='birthday' class='input_field' type=date ng-model=dob required>

	</div>



	<label>Gender</label>


	<div class='editable' ng-mouseleave='leave("gen_show")' ng-mouseenter='come("gen_show")' id='gender' ng-hide='gender_edit'>

		<a class="button tiny right radius" ng-show='gen_show' ng-click='edit("gender_edit")'>Edit</a>

		{{gender_show}} 	

	</div>

	<div class='editable' ng-show='gender_edit'>

		<a class='button tiny right radius' ng-click='save("gender",gender)'>Save</a>

		<input type="radio" name="gender" ng-model='gender' value="M"><span class='gender'> Male</span>
		<input type="radio" name="gender" ng-model='gender' value="F"><span class='gender'> Female</span>
	</div>




	</fieldset>
</form>


<script type="text/javascript">
  // if($(window).width() >= 640){
  //   $("#loginModal").addClass("reveal-modal");
  // }
  $(document).foundation();

</script>