<div data-ng-controller="userWeightBarChart">
  <nvd3-stacked-area-chart
  data="weightData"
  showXAxis="true"
  showYAxis="true"
  xAxisTickFormat="xAxisTickFormatFunction()"
  tooltips="true"
  interactive="true"
  interpolate="basis"
  noData="No weight data for the current user"
  useInteractiveGuideLine="true">
  </nvd3-stacked-area-chart>
</div>
<script type="text/javascript" charset="utf-8">
  var resizeFunc = function() {
    $(window).resize();
    setTimeout(resizeFunc, 100);
  };
  setTimeout(resizeFunc, 100);
</script>
