<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Sample AngularJS API Usage</title>
</head>
<body data-ng-controller="ExampleController as ctrl">

  <ul data-ng-if="data">
    <li data-ng-repeat="user in data">
      {{user}}
    </li>
  </ul>

  <h2 data-ng-if="error">
    {{error}}
  </h2>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
