
<!doctype html>
<html ng-app="loginPage">
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to Gymjournals!</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="css/app.css" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="loginCtrl">
<!--header-->  
    <header id="login_header" style="font-family: 'Open sans', arial, sans-serif">Gym Journals 
    </header>

    <div id="panel1" class="content active">
<!--tabs-->
      <dl class="tabs login_tabs" data-tab>
<!--new user tab -->
        <dd class="active"><a class="login_tabs" href="#panel2-1">New User</a></dd>
<!--existing user tab-->
        <dd ><a  href="#panel2-2">Existing User</a></dd>

      </dl>
      <div class="tabs-content">


<!--The new user panel starts from here
=================================================================================
-->
        <div class="content active" id="panel2-1">
          <form class="custom" id="signupForm" data-abide="ajax" ng-submit="register()">
<!--Username-->
            <div class="name-field">
              <label>Username&nbsp;<small>required</small>
                <input name="username" type="text" id="username" placeholder="can only contain letters and numbers" pattern="alpha_numeric" size="6" ng-model="formData.username" name="username" required>
              </label>
              <small class="error">No characters allowed except letters and numbers. e.g. fittness</small>
            </div>
<!--password-->
            <div class="password-field">
                <label>Password <small>required</small>
                  <input type="password" id="password" placeholder="at least 6 characters" pattern="[A-z0-9]{6,}" maxlength="20" ng-model="formData.password" required>
                </label>
                <small class="error">Your password must match the requirements</small>
            </div>
<!--confirm-password-->
            <div class="password-confirmation-field">
                <label>Confirm Password <small>required</small>
                  <input type="password" required  data-equalto="password" name="password" >
                </label>
                <small class="error">The password did not match</small>
            </div>

<!--email-->
            <div class="email-field">
              <label>Email&nbsp;<small>required</small>
                <input id="email" type="email" required placeholder="e.g. fit@gymjournals.com" ng-model="formData.email" name="email">
              </label>
              <small class="error">Please use the right email format<br>
                </small>
            </div>
<!--signup button-->
            <input type="submit" class="button radius login_button" name="signup" type="submit" value="Create Profile">
          </form>        

        </div>

<!--The existing user panel starts from here
=================================================================================
-->

        <div class="content" id="panel2-2">
          <form class="custom" id="signinForm" data-abide="ajax" ng-submit="login()">
            <!--username-->

            <div class="name-field">
              <label>Username
                <input id="username" type="text" ng-model="formData.username" name="username" required>
              </label>
            </div>

            

            <!--password-->
            <div class="password-field">
                <label>Password 
                  <input type="password" id="password" ng-model="formData.password" pattern="[A-z0-9]{6,}" maxlength="20" name="password" required>
                </label>
            </div>

<!--signup button-->  
            <input type="submit" class="button radius login_button" name="signin" type="submit" value="Sign In">

      
          </form>
        </div>
      </div>
    </div>


<!-- javascript
==================================================
Placed at the end of the document so the pages load faster -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">$(document).foundation();</script>

<!--send profile to server
<script type="text/javascript">
  $(document).ready(function(){
    $("#signup").click(function(){
      var username_ = $("#panel2-1 #username").val();
      var password_ = $("#panel2-1 #password").val();
      var email_ =$("#panel2-1 #email").val();
      var url="";
      $.post(url,{username:username_,password:password_,email:email_})

    })
  })


</script>-->
<!--send login information to server


<script type="text/javascript">
 $(document).ready(function(){
    $("#signin").click(function(){
      var username_ = $("#panel2-2 #username").val();
      var password_ = $("#panel2-2 #password").val();
      var url="";
      $.post(url,{username:username_,password:password_})


    })
  })




</script>
-->



<script type="text/javascript">
//$(window).load( function(){
// $.extend(true, this.settings, method, options);
/*  $(document)
  .foundation({
    abide : {
      patterns: {
        password: /^[A-Z0-9]{6,20}$/
      }
    }

  });
  $('#signupForm')
  .on('invalid', function () {
    var invalid_fields = $(this).find('[data-invalid]');
    console.log(invalid_fields);
  })
  .on('valid', function () {
    console.log('valid!');
  });
*/
//});
</script>


<script type="text/javascript">
/*
$('button[name="signup"]').on('valid', function() {
  // Handle the submission of the form
   //  console.log("It is valid!");
   //$(this).append("<strong>It is valid</strong>");
   alert("OK!");

});
$('input[name="username"]').click(function() {

  $(this).on('invalid', function() {
  // Handle the submission of the form
   //  console.log("It is valid!");
   //$(this).append("<strong>It is valid</strong>");
  //console.log("It is not valid!");


})});

*/

</script>







  </body>
</html>